<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <script type="text/javascript"
            src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="js/chart.js"></script>
    <script type="text/javascript" src="js/ajaxPost.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var date = new Date();
            $("input[type=date]").prop("max", date.toISOString().split("T")[0])
            date.setDate(date.getDate() + 1);
            $("#endDate").prop("max", date.toISOString().split("T")[0])

            $("#searchConfigForm").submit(function(event) {
                event.preventDefault();
                $('input').next('span').remove();
                $("#saveSearchResultButton").next('span').remove().prop("disabled", true);
                $("#submitButton").html("<div class='spinner-border spinner-border-sm'></div> Loading...");
                ajaxPostSearchConfig();
            });

            $("#getPassatsFromBaseForm").submit(function(event) {
                event.preventDefault();
                $("#saveSearchResultButton").next('span').remove().prop("disabled", true);
                $("#getPassatsFromBaseButton").next('span').remove().html("<div class='spinner-border spinner-border-sm'></div> Loading...");
                ajaxPostGetPassatsFromBase();
            });

            $("#saveSearchResultButton").click(function() {
                $("#saveSearchResultButton").next('span').remove().prop("disabled", true);
                ajaxPostSaveSearchResult();
            });
        })
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Find passats from OLX</h3>
            <form class="row" th:action="@{/search}" th:object="${searchConfig}" method="post" id="searchConfigForm">
                <div class="col-12">
                    <label for="pageLimit">Page Limit <small class="text-muted">(1 - 5)</small></label>
                    <input type="number" class="form-control" id="pageLimit" th:field="*{pageLimit}" value="1" min="1" max="5">
                </div>

                <div class="col-12">
                    <label for="passatLimit">Passat Limit <small>(1 - 60)</small></label>
                    <input type="number" class="form-control" id="passatLimit" th:field="*{passatLimit}" value="1" min="1" max="60">
                </div>

                <div class="col-12">
                    <label for="dateLimit">Date Limit</label>
                    <input type="date" class="form-control" id="dateLimit" th:field="*{dateLimit}">
                </div>

                <div class="col-12 my-2">
                    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>

                </div>
            </form>
        </div>

        <div class="col-md-6">
            <h3 class="text-center">Get passats from base</h3>
            <form class="row" th:action="@{/getPassatsFromBase}" method="post" id="getPassatsFromBaseForm">
                <div class="col-12">
                    <label for="startDate">Start date</label>
                    <input type="date" class="form-control" id="startDate" name="startDate">
                </div>

                <div class="col-12">
                    <label for="endDate">End date</label>
                    <input type="date" class="form-control" id="endDate" name="endDate">
                </div>

                <div class="col-12 my-2">
                    <button type="submit" class="btn btn-primary" id="getPassatsFromBaseButton">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <button class="btn btn-primary" id="saveSearchResultButton" disabled>Save search result</button>
    <div class="text-center" id="chart_div" style="width: 100%; height: 500px;"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>